* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* width: var(--primary-boardSize); */

  background-color: var(--primary-background-color);
}

.chess-board {
  display: flex;
  flex-direction: column;
  width: var(--primary-boardSize);
  height: var(--primary-boardSize);
  /* height: calc(100%-30px);
  width: calc(100%-30px); */
  background-color: #fff;
}

.board-opacity {
  transition: opacity 0.5s;
  opacity: 0.8;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8 {
  display: flex;
  height: 100%;
  width: 100%;
}

/* odd rows */
.row-1 .col-1,
.row-1 .col-3,
.row-1 .col-5,
.row-1 .col-7,
.row-3 .col-1,
.row-3 .col-3,
.row-3 .col-5,
.row-3 .col-7,
.row-5 .col-1,
.row-5 .col-3,
.row-5 .col-5,
.row-5 .col-7,
.row-7 .col-1,
.row-7 .col-3,
.row-7 .col-5,
.row-7 .col-7 {
  /* height: var(--primary-cellSize);
  width: var(--primary-cellSize); */
  height: 100%;
  width: 100%;
  background-color: #779556;
}
.row-1 .col-2,
.row-1 .col-4,
.row-1 .col-6,
.row-1 .col-8,
.row-3 .col-2,
.row-3 .col-4,
.row-3 .col-6,
.row-3 .col-8,
.row-5 .col-2,
.row-5 .col-4,
.row-5 .col-6,
.row-5 .col-8,
.row-7 .col-2,
.row-7 .col-4,
.row-7 .col-6,
.row-7 .col-8 {
  /* height: var(--primary-cellSize);
  width: var(--primary-cellSize); */
  background-color: #ebecd0;
  height: 100%;
  width: 100%;
}
/* even rows */
.row-2 .col-1,
.row-2 .col-3,
.row-2 .col-5,
.row-2 .col-7,
.row-4 .col-1,
.row-4 .col-3,
.row-4 .col-5,
.row-4 .col-7,
.row-6 .col-1,
.row-6 .col-3,
.row-6 .col-5,
.row-6 .col-7,
.row-8 .col-1,
.row-8 .col-3,
.row-8 .col-5,
.row-8 .col-7 {
  position: relative;
  /* height: var(--primary-cellSize);
  width: var(--primary-cellSize); */
  background-color: #ebecd0;
  height: 100%;
  width: 100%;
}
.row-2 .col-2,
.row-2 .col-4,
.row-2 .col-6,
.row-2 .col-8,
.row-4 .col-2,
.row-4 .col-4,
.row-4 .col-6,
.row-4 .col-8,
.row-6 .col-2,
.row-6 .col-4,
.row-6 .col-6,
.row-6 .col-8,
.row-8 .col-2,
.row-8 .col-4,
.row-8 .col-6,
.row-8 .col-8 {
  position: relative;
  /* height: var(--primary-cellSize);
  width: var(--primary-cellSize); */
  background-color: #779556;
  height: 100%;
  width: 100%;
}

img {
  /* height: var(--primary-cellSize);
  width: var(--primary-cellSize); */
  cursor: grab;
  height: 100%;
  width: 100%;
}

.clicked-1 {
  background-color: #baca3d !important;
}

.clicked-2 {
  background-color: #f6f680 !important;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: transform 0.2s;
}

.circle:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.scale-ctr {
  animation: zoomInOutSingleFeatured 1.3s infinite;
}
@keyframes zoomInOutSingleFeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (min-width: 801px) {
  :root {
    --primary-boardSize: 800px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  :root {
    --primary-boardSize: 600px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 541px) {
  :root {
    --primary-boardSize: 540px;
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
  :root {
    --primary-boardSize: 480px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 301px) {
  :root {
    --primary-boardSize: 300px;
  }
}

@media only screen and (max-width: 300px) and (min-width: 240px) {
  :root {
    --primary-boardSize: 240px;
  }
}
