* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
}

.user-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  width: var(--primary-boardSize);
  background-color: darkred;
  position: relative;
  border-radius: 10px;
  padding: 10px;
}

.user-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  width: var(--primary-boardSize);
  background-color: darkblue;
  position: relative;
  border-radius: 10px;
  padding: 10px;
}
.avatar-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  margin-left: 5px;
  font-size: 3.5vw;
}

.user-name span {
  width: 4vw;
  text-decoration: underline;
}

.countdown-1 {
  display: flex;
  margin-right: 10px;
  width: 100%;
  margin-left: auto;
  color: white;
  justify-content: flex-end;
  align-items: center;
}

.countdown-1 span {
  font-size: 2.5vw;
}

.countdown-2 {
  margin-left: auto;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.countdown-2 span {
  font-size: 2.5vw;
}

.avatar-photo {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-name {
  color: #fff;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  width: var(--primary-boardSize);

  background-color: var(--primary-background-color);
}

.chess-board {
  display: flex;
  flex-direction: column;
  width: var(--primary-boardSize);
  height: var(--primary-boardSize);

  background-color: #fff;
}

.board-opacity {
  transition: opacity 0.5s;
  opacity: 0.8;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8 {
  display: flex;
}

/* odd rows */
.row-1 .col-1,
.row-1 .col-3,
.row-1 .col-5,
.row-1 .col-7,
.row-3 .col-1,
.row-3 .col-3,
.row-3 .col-5,
.row-3 .col-7,
.row-5 .col-1,
.row-5 .col-3,
.row-5 .col-5,
.row-5 .col-7,
.row-7 .col-1,
.row-7 .col-3,
.row-7 .col-5,
.row-7 .col-7 {
  height: var(--primary-cellSize);
  width: var(--primary-cellSize);
  background-color: #779556;
  position: relative;
  color: #ebecd0;
}
.row-1 .col-2,
.row-1 .col-4,
.row-1 .col-6,
.row-1 .col-8,
.row-3 .col-2,
.row-3 .col-4,
.row-3 .col-6,
.row-3 .col-8,
.row-5 .col-2,
.row-5 .col-4,
.row-5 .col-6,
.row-5 .col-8,
.row-7 .col-2,
.row-7 .col-4,
.row-7 .col-6,
.row-7 .col-8 {
  background-color: #ebecd0;
  height: var(--primary-cellSize);
  width: var(--primary-cellSize);
  position: relative;
}
/* even rows */
.row-2 .col-1,
.row-2 .col-3,
.row-2 .col-5,
.row-2 .col-7,
.row-4 .col-1,
.row-4 .col-3,
.row-4 .col-5,
.row-4 .col-7,
.row-6 .col-1,
.row-6 .col-3,
.row-6 .col-5,
.row-6 .col-7,
.row-8 .col-1,
.row-8 .col-3,
.row-8 .col-5,
.row-8 .col-7 {
  position: relative;
  background-color: #ebecd0;
  height: var(--primary-cellSize);
  width: var(--primary-cellSize);
  color: #779556;
}
.row-2 .col-2,
.row-2 .col-4,
.row-2 .col-6,
.row-2 .col-8,
.row-4 .col-2,
.row-4 .col-4,
.row-4 .col-6,
.row-4 .col-8,
.row-6 .col-2,
.row-6 .col-4,
.row-6 .col-6,
.row-6 .col-8,
.row-8 .col-2,
.row-8 .col-4,
.row-8 .col-6,
.row-8 .col-8 {
  position: relative;
  background-color: #779556;
  height: var(--primary-cellSize);
  width: var(--primary-cellSize);
  color: #ebecd0;
}

.row-1 .col-1 span,
.row-2 .col-1 span,
.row-3 .col-1 span,
.row-4 .col-1 span,
.row-5 .col-1 span,
.row-6 .col-1 span,
.row-7 .col-1 span {
  position: absolute;
  top: 0;
  left: 0;
}

.row-8 .col-2 span,
.row-8 .col-3 span,
.row-8 .col-4 span,
.row-8 .col-5 span,
.row-8 .col-6 span,
.row-8 .col-7 span,
.row-8 .col-8 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}
.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

img {
  cursor: grab;
  height: var(--primary-imgSize);
  width: var(--primary-imgSize);
}

.clicked-1 {
  background-color: #baca3d !important;
}

.clicked-2 {
  background-color: #f6f680 !important;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: transform 0.2s;
}

.circle:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.scale-ctr {
  animation: zoomInOutSingleFeatured 1.3s infinite;
}
@keyframes zoomInOutSingleFeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (min-width: 801px) {
  :root {
    --primary-boardSize: 600px;
    --primary-cellSize: calc(var(--primary-boardSize) / 8);
    --primary-imgSize: calc(var(--primary-boardSize) / 8);
  }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  :root {
    --primary-boardSize: 600px;
    --primary-cellSize: calc(var(--primary-boardSize) / 8);
    --primary-imgSize: calc(var(--primary-boardSize) / 8);
  }
}

@media only screen and (max-width: 600px) and (min-width: 541px) {
  :root {
    --primary-boardSize: 540px;
    --primary-cellSize: calc(var(--primary-boardSize) / 8);
    --primary-imgSize: calc(var(--primary-boardSize) / 8);
  }
}

@media only screen and (max-width: 540px) and (min-width: 480px) {
  :root {
    --primary-boardSize: 480px;
    --primary-cellSize: calc(var(--primary-boardSize) / 8);
    --primary-imgSize: calc(var(--primary-boardSize) / 8);
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --primary-boardSize: 320px;
    --primary-cellSize: calc(var(--primary-boardSize) / 8);
    --primary-imgSize: calc(var(--primary-boardSize) / 8);
  }
}

/* @media only screen and (max-width: 320px) {
  :root {
    --primary-boardSize: 320px;
    --primary-cellSize: calc(var(--primary-boardSize) / 8);
    --primary-imgSize: calc(var(--primary-boardSize) / 8);
  }
} */
